@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-01 {
  background-image: linear-gradient(
    #a5a5a53d,
    #77a5e067
  );
  filter: blur(125px);
}